<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="template">
 
<link rel="stylesheet" type="text/css"
href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Ajout des Livres</title>
</head>
<body>
<divbody>	
<div th:replace="template">	
</div>
<div class="container mt-5">
<div class="card">
 <div class="card-header">
 Modifier des Livres
 </div>
 <div class="card-body">
<form th:action="@{saveLivre}" method="post">
<div class="form-group">
<label class="control-label" hidden>ID Livre :</label>
<input type="hidden" name="idLivre" class="form-control"
th:value="${livre.idLivre}" />
</div>
<div class="form-group">
<label class="control-label">Nom Livre :</label>
<input type="text" name="nomLivre" class="form-control"
th:value="${livre.nomLivre}" />
<span th:errors= ${livre.nomLivre} class="text-danger"></span>
</div>
<div class="form-group">
<label class="control-label">Prix Livre :</label>
 <input type="text" name="prixLivre" class="form-control"
th:value="${livre.prixLivre}" />
 <span th:errors=${livre.prixLivre} class="text-danger"></span>
</div>
<div class="form-group">
<label class="control-label">Date Publication :</label>
<input type="date" name="datePublication" class="form-control" 
th:value="${livre.datePublication}"/>
<span th:errors=${livre.datePublication} class="text-danger"></span>
</div>
<div class="form-group">
							<label class="control-label">Editeur :</label> 
							<select     name="categorie" class="form-control" th:value="${livre.editeur.idEd}"   th:if= "${!#strings.isEmpty(livre.editeur)}" >
								<option th:each="c:${editeurs}" th:if="${mode=='edit'}"
									th:value="${c.idEd}" th:text="${c.nomEd}"
									th:selected="${ c.idEd==livre.editeur.idEd}"></option>

								<option th:each="c:${editeurs}" th:if="${mode=='new'}"
									th:value="${c.idEd}" th:text="${c.nomEd}"></option>
							</select>
							
						
						<!-- Pour ne pas avoir d'erreurs si l'editeur est null on ajoute ce select -->
							<select     name="editeur" class="form-control"    th:if= "${#strings.isEmpty(livre.editeur)}" >
								<option th:each="c:${editeurs}" th:value="${c.idEd}" th:text="${c.nomEd}"></option>
							</select>
<div>
<button type="submit" class="btn btn-primary">Valider</button>
</div>
</form>
</div>
</div>
</div>
</div>
</body>
</html>